.editor-container {
  background: #f9f5e1;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 55%;
}

.ingredient {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
}

#recipe-title {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
}

.editor-btn {
  background-color: #d8c6a3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
