<!DOCTYPE html>
<html>
  <head>
    <!-- Include Quill stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
      rel="stylesheet"
    />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <!-- Initialize Quill editor -->
    <script src="../js/editor.js" defer></script>

    <!-- 다양한 기기에서의 지원을 위한 여러 크기의 favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../logoimage/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../logoimage/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../logoimage/favicon-16x16.png"
    />
    <title>음식 레시피 공유 사이트</title>

    <!-- Include stylesheet -->
    <link href="../css/editor.css" rel="stylesheet" />
    <link href="../css/editor-recipe.css" rel="stylesheet" />
    <link href="../css/navbar.css" rel="stylesheet" />
  </head>
  <body>
    <header id="navbar-header"></header>
    <script>
      fetch("navbar.html")
        .then((response) => response.text())
        .then(
          (data) => (document.getElementById("navbar-header").innerHTML = data)
        );
    </script>
    <div class="editor-container">
      <h2 style="margin-top: 10px; margin-bottom: 10px">Recipe</h2>
      <input id="recipe-title" placeholder="Title" type="text" />
      <h2 style="margin-bottom: 10px">Ingredients</h2>
      <div id="ingredients-list">
        <div class="ingredient-container">
          <input class="ingredient" placeholder="Ingredient" type="text" />
          <button class="btn remove-btn" onclick="removeIngredient(this)">
            -
          </button>
          <input class="ingredient-amount" placeholder="Amount" type="text" />
        </div>
        <div class="ingredient-container">
          <input class="ingredient" placeholder="Ingredient" type="text" />
          <button class="btn remove-btn" onclick="removeIngredient(this)">
            -
          </button>
          <input class="ingredient-amount" placeholder="Amount" type="text" />
        </div>
      </div>
      <button
        class="btn editor-btn"
        id="ingredient-btn"
        style="margin: 0 0 10px 0"
      >
        +
      </button>
      <div id="editor"></div>
      <button class="btn editor-btn">Submit</button>
    </div>
  </body>
</html>
