<!DOCTYPE html>
<html>
  <head>
    <!-- Include Quill stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
      rel="stylesheet"
    />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <!-- Initialize Quill editor -->
    <script src="../js/editor.js" defer></script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../logoimage/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../logoimage/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../logoimage/favicon-16x16.png"
    />
    <title>음식 레시피 공유 사이트</title>

    <!-- Include stylesheet -->
    <link href="../css/editor.css" rel="stylesheet" />
    <link href="../css/editor-recipe.css" rel="stylesheet" />
    <link href="../css/navbar.css" rel="stylesheet" />
  </head>
  <body>
    <header id="navbar-header"></header>
    <script src="../js/navbar.js"></script>
    <div class="editor-container">
      <h2 style="margin-top: 10px; margin-bottom: 10px">제목</h2>
      <input id="recipe-title" placeholder="제목" type="text" />
      <h2 style="margin-top: 10px; margin-bottom: 10px">카테고리</h2>
      <input id="category" placeholder="카테고리" type="text" />
      <h2 style="margin-bottom: 10px">레시피</h2>
      <div id="editor"></div>
      <button class="btn editor-btn" id="editor-btn">등록하기</button>
    </div>
  </body>
</html>
