<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../logoimage/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../logoimage/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../logoimage/favicon-16x16.png"
    />
    <title>음식 레시피 공유 사이트</title>
    <link rel="stylesheet" href="../css/followpage.css" />
    <link href="../css/navbar.css" rel="stylesheet" />
  </head>
  <body>
    <header id="navbar-header"></header>
    <script src="../js/navbar.js"></script>

    <div class="container">
      <h1 class="title">팔로잉</h1>
      <div id="user-list">
        <!-- 사용자 목록이 여기에 동적으로 추가됩니다 -->
      </div>
    </div>

    <script src="../js/followpage.js"></script>
  </body>
</html>
