<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 다양한 기기에서의 지원을 위한 여러 크기의 favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../logoimage/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../logoimage/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../logoimage/favicon-16x16.png"
    />
    <title>음식 레시피 공유 사이트</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <header id="navbar-header"></header>
    <script src="../js/navbar.js"></script>
    <div class="container">
      <!-- Header -->
      <div class="header">
        <img src="../logoimage/profile.jpg" alt="Profile Picture" />
        <div class="username">Example2</div>
      </div>
      <!-- Image -->

      <div class="image-container">
        <img src="../logoimage/salad.jpg" alt="Salad Picture" />
      </div>
      <!-- Content -->
      <div class="like-container">
        <button class="like-button">
          <svg class="heart-icon" viewBox="0 0 24 24">
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
          </svg>
        </button>
        <span class="like-count">0</span>
      </div>      
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
