<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../logoimage/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../logoimage/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../logoimage/favicon-16x16.png"
    />
    <title>음식 레시피 공유 사이트</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <header id="navbar-header"></header>
    <script src="../js/navbar.js"></script>
    <div class="articles-container"></div>
    <script src="../js/index.js"></script>
  </body>
</html>
